.vf-paper {
    position: relative;
    overflow: hidden;

    background-image: linear-gradient(90deg, rgba(102, 102, 102, 0.2) 1px, transparent 1px), linear-gradient(rgba(102, 102, 102, 0.2) 1px, transparent 1px);
    background-size: 10px 10px;
}

.vf-block {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid black;
    background: white;
    z-index: 1;
    opacity: 0.9;
    cursor: move;
    min-width: 100px;
    min-height: 40px;
}

.vf-block-top {
    width: 100%;
    display: table-row;
    column-count: 3;
}
.vf-block-middle {
    display: table-row;
}
.vf-block-left {
    width: 1px;
    display: table-cell;
}
.vf-block-center {
    display: table-cell;
}
.vf-block-right {
    width: 1px;
    display: table-cell;
}
.vf-block-bottom {
    display: table-row;
}

.vf-block.selected {
    z-index: 2;
}

.v-flow-block-content {
    display: table-cell;
    vertical-align: top;
}

.v-flow-block-ports-vertical {
    display: table-cell;
    width: 1px;
}

.v-flow-port {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background: #fff;
}

.v-flow-port.v-flow-port-top,
.v-flow-port.v-flow-port-bottom {
    margin: 0 5px;
}

.v-flow-port.v-flow-port-left,
.v-flow-port.v-flow-port-right {
    margin: 0 0 10px;
}

.v-flow-line a,
.v-flow-line a:hover {
    cursor: pointer;
    text-decoration: none;
    width: 16px;
    height: 16px;
    fill-opacity: 1;
    fill: red;
    stroke: red;
    stroke-width: 1px;
}
