.v-flow-paper-container {
    overflow: auto;
}

.v-flow-paper {
    position: relative;
    overflow: hidden;

    background-image: linear-gradient(90deg, rgba(102, 102, 102, 0.2) 1px, transparent 1px), linear-gradient(rgba(102, 102, 102, 0.2) 1px, transparent 1px);
    background-size: 10px 10px;
}

.v-flow-links {
    width: 100%;
    height: 100%;
}

.v-flow-block {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid black;
    background: white;
    z-index: 1;
    opacity: 0.9;
    cursor: move;
    min-width: 100px;
    min-height: 40px;
}

.v-flow-block.selected {
    z-index: 2;
}

.v-flow-block-ports-top,
.v-flow-block-ports-bottom {
    display: table;
}

.v-flow-block-ports-top {
    margin: -5px auto 0;
}

.v-flow-block-ports-bottom {
    margin: 0 auto -5px;
}

.v-flow-block-ports-top .v-flow-block-port,
.v-flow-block-ports-bottom .v-flow-block-port {
    display: table-cell;
}

.v-flow-block-body-wrapper {
    margin: 0 -5px;
}

.v-flow-block-body {
    display: table;
    width: 100%;
}

.v-flow-block-body > * {
    display: table-cell;
    vertical-align: top;
}

.v-flow-block-ports-left,
.v-flow-block-ports-right {
    width: 1px;
}

.v-flow-block-content {
    vertical-align: top;
}

.v-flow-port {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background: #fff;
}

.v-flow-port.v-flow-port-top,
.v-flow-port.v-flow-port-bottom {
    margin: 0 5px;
}

.v-flow-port.v-flow-port-left,
.v-flow-port.v-flow-port-right {
    margin: 0 0 10px;
}

.v-flow-line a,
.v-flow-line a:hover {
    cursor: pointer;
    text-decoration: none;
    width: 16px;
    height: 16px;
    fill-opacity: 1;
    fill: red;
    stroke: red;
    stroke-width: 1px;
}
